.indicator {
  position: absolute;
  bottom: 11px;
  right: 13px;

  min-width: 30px;
  height: 22px;
  padding: 0 6px;
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;
  font-weight: 500;
  color: #b4b4b4;
  border: 0.5px solid #b4b4b4;
  background: transparent;

  &.active {
    background: linear-gradient(239.93deg, #3fccff -26.89%, #068dfb 70.78%);
    box-shadow: 0 1px 5.3px 0 #149dff36;
    color: #ffffff;
    border: none;

    &.selected {
      background: #F1F6FD;
    }
  }

  &.imageBottom {
    background: #3F3F3F66;
    backdrop-filter: blur(9px);
    color: #FFFFFF;
    border: none;
  }

  &.focused {
    border: 0.5px solid #34b8ff;
    color: #34b8ff;
    background-color: #ffffff;
  }

  &.focusedSelected {
    border: 0.5px solid #34b8ff;
    color: #34b8ff;
    background-color: #F1F6FD;
  }
}

.indicator.noAbsolute {
  position: relative;
  bottom: auto;
  right: auto;
}